:root {
	--nav-color-1: #101010;
	--nav-color-2: #858585;
	--nav-color-3: #FAFAFA;

	/* LIGHT MODE COLORS */
	--nav-bg-color: var(--nav-color-3);
	--nav-tx-color: var(--nav-color-1);
	--nav-br-color: var(--nav-color-2);
}

/* DARK MODE COLORS */
@media (prefers-color-scheme: dark) {
	:root {
		--nav-bg-color: var(--nav-color-1);
		--nav-tx-color: var(--nav-color-3);
		--nav-br-color: var(--nav-color-2);
	}
}

body {
	margin-top: 15vw;
}

#navbar > * { 
	all: unset;
}

#navbar {
	/* SIZE */
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	transition: 0.2s;
	/* COLOR */
	background-color: var(--nav-bg-color);
	color: var(--nav-tx-color);
	border-bottom: 1px solid var(--nav-br-color);
	/* border-style: hidden hidden solid; */
	/* TEXT */
	/* text-align: center; */
	/* font-size: 300; */
	/* center-center text */
	/* display: table; */
	z-index: 999;

	/* FLEX */
	display: flex;
	align-items: stretch;
}

#navbar > * {
	display: flex;
	align-items: center;
	/* border: 1px solid green; */
}

#nav-title {
	margin-left: 4vw;
}

#nav-links {
	gap: 2vw;
	margin-left: auto;
	display: relative;
	/* border: 1px solid blue; */
}

#navbar > * > a {
	text-decoration: none;
	color: inherit;
}

#nav-button {
	margin-left: auto;
	aspect-ratio: 1;
}

#nav-button > * {
	margin: 0 auto;
}