:root {
	--nav-color-1: #101010;
	--nav-color-2: #858585;
	--nav-color-3: #FAFAFA;

	/* LIGHT MODE COLORS */
	--nav-bg-color: var(--nav-color-3);
	--nav-tx-color: var(--nav-color-1);
	--nav-br-color: var(--nav-color-2);
}

/* DARK MODE COLORS */
@media (prefers-color-scheme: dark) {
	:root {
		--nav-bg-color: var(--nav-color-1);
		--nav-tx-color: var(--nav-color-3);
		--nav-br-color: var(--nav-color-2);
	}
}

body {
	margin-top: 15vw;
}

#navbar > * { 
	all: unset;
}

#navbar {
	/* SIZE */
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	
	/* COLOR */
	background-color: var(--nav-bg-color);
	color: var(--nav-tx-color);
	border-bottom: 1px solid var(--nav-br-color);
	font-size: 2vw;

	z-index: 999;

	/* FLEX */
	display: flex;
	/* align-items: stretch; */
	transition: 0.2s;
}

#navbar > a {
	border: 1px solid blue;
	display: flex;
	align-items: center;
	margin: 0 2vw;
	padding: 2vw 0;
}

/* links on either end margin */
#navbar > a:first-child { margin-left: 4vw; }
#navbar > a:last-child { margin-right: 4vw; }

/* Push the links after the main link to the right*/
#navbar > a:nth-of-type(2) {
	margin-left: auto;
}

#nav-button {
	padding: 0 3vw;
}