:root {
	--nav-color-1: #101010;
	--nav-color-2: #858585;
	--nav-color-3: #FAFAFA;
	--nav-color-4: #628395;

	/* LIGHT MODE COLORS */
	--nav-bg-color: var(--nav-color-3);
	--nav-tx-color: var(--nav-color-1);
	--nav-br-color: var(--nav-color-2);
	--nav-ac-color: var(--nav-color-4);
}

/* DARK MODE COLORS */
@media (prefers-color-scheme: dark) {
	:root {
		--nav-bg-color: var(--nav-color-1);
		--nav-tx-color: var(--nav-color-3);
		--nav-br-color: var(--nav-color-2);
	}
}

body {
	margin-top: 100px;
	-webkit-text-size-adjust: 100%;
}

/* .navbar > * { 
	all: unset;
} */

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	font-size: 20px;
	background-color: var(--nav-bg-color);
	border-bottom: 1px solid var(--nav-br-color);
	margin-bottom: 20px;

	display: flex;
	gap: 20px;
	z-index: 999;
}

.navbar * {
	text-decoration: none;
	color: var(--nav-tx-color);
}

.nav-items {
	display: flex;
	gap: 20px;
	margin-left: auto;
}

.nav-link {
	/* padding: 16px; */
	padding: 2vw 4vw;
	/* border: 1px solid red; */
	-webkit-transition: background-color 0.15s;
	-ms-transition: background-color 0.15s;
	transition: background-color 0.15s;
}

/* On devices that support hover, do hover effect */
@media (hover) {
	.nav-toggle:hover {
		background-color: var(--nav-br-color);
	}
}

.nav-toggle {
	display: none;
	z-index: 1000;
	/* background-color: var(--nav-bg-color); */
}

/* Styling for high dpi screens ONLY */
@media 
(-webkit-min-device-pixel-ratio: 2.5), 
(min-resolution: 220dpi) {
	body {
		margin-top: 150px;
	}
	.navbar {
		font-size: 50px;
	}
}

/* Styling for narrow screens */
@media 
(-webkit-min-device-pixel-ratio: 2.5), 
(min-resolution: 220dpi),
(max-width: 600px) {
	.navbar,
	.nav-items {
		flex-direction: column;
		gap: 0;
	}

	.nav-items {
		margin-left: 0;
		display: none;
	}

	.nav-items.toggle-show {
		display: flex;
	}

	.nav-toggle {
		align-self: flex-end;
		position: absolute;
		cursor: pointer;

		display: flex;
		align-items: center;
	}

	.nav-toggle div {
		width: 0;
		visibility: hidden;
	}
}

/* Hover underline effects */

.nav-link:not(.nav-toggle) {
	/* display: inline-block; */
	position: relative;
  }
  
  /*:after adds content after the selection*/
  .nav-link:not(.nav-toggle):after {
	content: ''; /*no text, just line*/
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--nav-tx-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease;
  }
  
  .nav-link:not(.nav-toggle):hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }