/* @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Open+Sans&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body { background-color: #FAFAFA; }
/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body { background-color: #101010; }
}

/* CLASS: page */

.page {
	/* COLOR */
	color: var(--tx-color) !important;
	background-color: var(--page-color);
	/* LAYOUT */
	margin: 0 auto 4vw;
	overflow: hidden;
	aspect-ratio: 8.5 / 11 !important; /* width / height */
	height: 100vw; /* This is required because safari is too dumb to calc inside percents without a defined height*/
}

/* CLASS: page-section */

.page-section {
	/* margin: 2%; */
	padding: 1% 2%;
	display: flex;

	/* Make padding not add to height */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.page-section._100 { height: 100%; }
.page-section._95 { height: 95%; }
.page-section._90 { height: 90%; }
.page-section._85 { height: 85%; }
.page-section._80 { height: 80%; }
.page-section._75 { height: 75%; }
.page-section._70 { height: 70%; }
.page-section.twothird { height: calc(200%/3); }
.page-section._65 { height: 65%; }
.page-section._60 { height: 60%; }
.page-section._55 { height: 55%; }
.page-section._50,
.page-section.half { height: 50%; }
.page-section._45 { height: 45%; }
.page-section._40 { height: 40%; }
.page-section._35 { height: 35%; }
.page-section.third { height: calc(100%/3); }
.page-section._30 { height: 30%; }
.page-section._25,
.page-section.quarter { height: 25%; }
.page-section._20 { height: 20%; }
.page-section.sixth { height: calc(100%/6); }
.page-section._15 { height: 15%; }
.page-section.eighth {height: 12.5%; }
.page-section._10 { height: 10%; }
.page-section.twelfth { height: calc(100%/12); }
.page-section.sixteenth {height: 6.25%; }
.page-section._5 { height: 5%; }

.page-section:first-child { padding-top: 2% }
.page-section:last-child { padding-bottom: 2% }

/* CLASS: page-item and sub-classes*/

.page-item {
	flex: 1 1 0;
	width: 0;
	padding: 0 2%;
	/* overflow: hidden; */
}
.page-item.double { flex: 2 2 0; }
.page-item.triple { flex: 3 3 0; }
.page-item.quad { flex: 4 4 0; }

.page-item.vert-center, .page-item.center-center {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.page-item.center-center { align-items: center; }
.page-item.vert-center *, .page-item.center-center * { margin: 0; }
.page-item.nopad { padding: 0; }

.page-item img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.photo-stack {
	display: flex;
	flex-direction: column;
}

.photo-item {
	flex: 1 1 0;
	height: 0;
	padding: .5%;
}
.photo-item.double { flex: 2 2 0; }
.photo-item.triple { flex: 3 3 0; }
.photo-item.quad { flex: 4 4 0; }

.photo-item img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

/* CLASSES for images, text, etc*/

img.h100 { height: 100%; }
img.h80 { height: 80%; }
img.h70 { height: 70%; }
img.h60 { height: 60%; }
img.h50 { height: 50%; }
img.contain { object-fit: contain; }

.title {
	/* COLOR */
	background-color: var(--title-bg-color) !important;
	color: var(--title-tx-color) !important;

	display: block;
	position: relative;
	top: -95%;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	padding: .5%;
}
.title.not-rel {
	top: initial;
}
.title * { margin: 0; }
.title *:not(:first-child) { color: var(--title-tx-sub) !important; }

/* TEXT TAGS + CLASSES */
html {
	font-family: 'Open Sans';
	font-size: 1.8vw;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0%;
	margin-bottom: 2%;
}
h1:not(:first-of-type), h2, h3, h4, h5, h6 { color: var(--h-color) !important; }
h1 { font-size: 4vw; }
h2 { font-size: 3vw; }
h3 { font-size: 2.1vw; }
h4 { font-size: 1.7vw; /* letter-spacing: -0.5px; */ }
h5 { font-size: 1.5vw; /* letter-spacing: -0.5px; */ }
h6 { font-size: 1.3vw; }

p { color: var(--p-color) !important; }

/* Spacing under paragraphs */
p:not(:last-of-type) {
	margin-bottom: 2%;
}

ul, ol {
	padding-left: 2vw;
	margin-top: 0;
}

p, ol, ul{
	font-size: 1.683vw;
	font-family: "Cardo";
	line-height: 165%;
}

p.normal {
	font-family: "Open Sans";
	line-height: initial;
	margin: 0;
}

p.small, .caption, ol, ul {
	font-size: 1.4vw;
	line-height: 125%;
}

ol.normal, ul.normal {
	font-size: 1.683vw;
	line-height: 140%;
}

.caption {
	color: var(--caption-color) !important;

	font-family: "Cardo";
	text-align: center;
	margin-top: 1%;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.no-style { font-style: normal; }
.no-decor { text-decoration: none; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.text-boxed {
	background-color: var(--box-bg-color) !important; 
	color: var(--box-tx-color) !important;

	display: inline-flex;
	padding: 1.5vw 3vw;
}

a {
	color: inherit;
	/* text-decoration: none; */
}

/* Styling for narrow screens */
@media only screen and (max-width: 600px) {
	.page-section {
		outline: 2px solid lime;
		outline-offset: -2px;
	}
	.page-item {
		outline: 2px dashed black;
		outline-offset: -2px;
	}

	.page {

	}
}

/* PRINT */
@media print {
	html, body {
		margin: 0 !important;
		padding: 0;
	}

	#navbar {
		display: none !important;
	}
	
	a {
		text-decoration: none;
	}

	.page {
		overflow: hidden;
		margin: 0;
		break-after: always !important;
		break-inside: avoid;
		aspect-ratio: 8.5 / 11 !important;
		height: initial !important;
		box-decoration-break: slice;
		/* overflow: visible !important; */
	}

	h1 { font-size: 4.5vw; }
	h2 { font-size: 3.5vw; }
	h3 { font-size: 2.6vw; }
	h4 { font-size: 2.2vw; }
	h5 { font-size: 1.8vw; }
	h6 { font-size: 1.6vw; }

	p, body, ol.normal, ul.normal { font-size: 2.2vw; }
	p.small, .caption, ol, ul { font-size: 1.8vw; }
}

/* BORDERS */

/* .page-section {
	outline: 2px solid lime;
	outline-offset: -2px;
}

.page-item {
	outline: 2px dashed black;
	outline-offset: -2px;
} */

/* h1, h2, h3, h4, h5, h6, p, ul, ol {
	outline: 2px dashed blue;
	outline-offset: -2px;
} */

/* img {
	outline: 2px dashed red;
	outline-offset: -2px;
} */