:root {
	--color-1: #F5F1ED;
	--color-2: #D80032;
	--color-3: #7E52A0;

	--page-color: var(--color-1);
	--title-bg-color: var(--color-2);
	--title-tx-color: var(--color-1);
	/* --title-tx-sub: var(--color-3); */
	--tx-color: var(--color-3);
	--h-color: var(--color-2);
	/* --p-color: ; */
	/* --caption-color: var(--color-2); */
	--box-bg-color: var(--color-2);
	--box-tx-color: var(--color-1);
}

/* BORDERS */

/* .page-section {
	border: 2px solid lime;
}

.page-item {
	border: 2px dashed black;
} */

/* h1, h2, h3, h4, h5, h6, p {
	border: 1px dashed blue;
}

img {
	border: 1px dashed red;
} */