# This is an example .env file. Change the password variables in this file and rename it to just ".env" before running docker-compose

# In prod, this file should only be kept on an ENCRYPTED drive, and modified for only owner read/write (chmod 600 .env)

# Host ports (these will need to be available on the host)
APP_BIND=127.0.0.1:8080
PHPMA_BIND=127.0.0.1:8081

# MySQL Configuration
DB_NAME="ms_db"
DB_USER="admin"
DB_PASSWORD="unsecurePasswordPleaseChange"
DB_ROOT_PASSWORD="unsecurePasswordPleaseChange"

# Cloudflare tunnel
# To enable cloudflare without including "--profile tunnel", Uncomment the following line. You also need to provide a tunnel token.
# COMPOSE_PROFILES=tunnel
CLOUDFLARE_TUNNEL_TOKEN="replaceWithCloudflareTunnelToken"