#This is an example .env file. Change the password variables in this file and rename it to just ".env" before running docker-compose

#In prod, this file should only be kept on an ENCRYPTED drive, and modified for only owner read/write (chmod 600 .env)

#Ports (these will need to be available on the host)
APP_PORT=8080
PHPMA_PORT=8081
# MySQL Configuration
DB_NAME="ms_db"
DB_USER="admin"
DB_PASSWORD="unsecurePasswordPleaseChange"
DB_ROOT_PASSWORD="unsecurePasswordPleaseChange"