<!-- <div id="nav-title">
	<a href={{title-href}}>{{title}}</a>
</div> -->

<!-- <div id="nav-links">
	<a href="/2023/01/newsletter.html">Jan</a>
	<a href="/2022/12/newsletter.html">Dec</a>
	<a href="/2022/11/newsletter.html">Nov</a>
</div> -->

<!-- <div id="nav-button">
	<a href="javascript:void();" class="icon">
		<i class="fa fa-bars"></i>
	</a>
</div> -->

<a id="nav-title" href={{title-href}} style={{font-size}}>{{title}}</a>
<a href="/2023/01/newsletter.html" style={{font-size}}>About</a>
<a href="/2022/12/newsletter.html" style={{font-size}}>Resources</a>
<a href="javascript:void();" style={{font-size}}>
	<div id="nav-button">
		<i class="fa fa-bars"></i>
	</div>
</a>
