:root {
	--color-1: #ffffff;
	--color-2: #6bb0e1;
	--color-3: #07365f;

	--page-color: var(--color-1);
	/* --title-bg-color: var(--color-2); */
	--title-tx-color: var(--color-3);
	/* --title-tx-sub: var(--color-3); */
	--tx-color: var(--color-3);
	/* --h-color: var(--color-2); */
	/* --p-color: ; */
	/* --caption-color: var(--color-2); */
	--box-bg-color: var(--color-2);
	--box-tx-color: var(--color-1);
}

/* BORDERS */

/* .page-item {
	border: 1px solid black;
}

.photo-item {
	border: 1px solid red;
}

h1, h2, h3, h4, h5, h6, p {
	border: 1px solid blue;
}

img {
	border: 1px solid green;
} */