:root {
	--post-bg-color: var(--bg-color);
	/* --post-tx-color: var(--color-1); */
	--post-br-color: var(--br-color);
}

/* Post Previews */
.post-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-auto-rows: 1fr; */
	gap: 20px;
}

a {
	text-decoration: none;
	color: var(--post-tx-color);
}

.post {
	/* SIZE */
	border-radius: 1em;
	overflow: hidden;
	height: 100%;
	/* COLOR */
	background-color: var(--post-bg-color);
	border: 1px solid var(--post-br-color);
	color: var(--post-tx-color);
	/* ANIMATION */
	transition: 0.25s ease;
}

.post:hover {
	border: 1px solid var(--tx-color);
	box-shadow: 0 0 3px 1px var(--tx-color);
}

.post-body {
	padding: 20px;
	box-sizing: border-box;
}

.post-img {	
	width: 100%;
	height: 30vh;
	min-height: 150px;
	margin-left: auto;
	object-fit: cover;
}

.post-blurb {
	margin-bottom: 0;
}

/* Styling for narrow screens */
@media only screen and (max-width: 1200px) {
	.post-container {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 600px) {
	.post-container {
		display: block;
	}

	.post {
		margin-bottom: 20px;
	}
}